 
#formulario {
    background-color: white;
    height: 58%;
    width: 28%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0px 0px 12px 1px rgb(49, 102, 109);
}

.titulo-poker {
    text-align: center;
    color: rgb(11, 94, 94);
}

.form-grup {
    position: relative;
    top: 15%;
    left: 10%;
    margin-bottom: 20px;
    font-size: 20px;
}

.cadastro-nome,
.cadastro-cargo {
    height: 28px;
    width: 60%;
}

.botao-seguir {
    position: relative;
    background-color: rgb(94, 163, 219);
    color: white;
    width: 17em;
    height: 35px;
    font-size: 15px;
    top: 30%;
    left: 20%;
    border: none;
    border-bottom: 4px solid black;
    border-radius: 5px;
    cursor: pointer;
}